
@{
    Layout =null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="card-body">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 text-muted"><h4>Ви успішно зареєстровані</h4></div>

    </div>
    <hr />
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <a class="btn btn-outline-success mt-2 mb-2" asp-action="Login" asp-controller="Account">Авторизуватися</a>
        </div>
    </div>

</body>
</html>