@model MyFoodDelivery1.Models.Dish

@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";

}
@{
    ViewData["Title"] = "Видалити страву";
}


<div class=" container mt-2">
    <div class=" card">
        <div class="card-header bg-secondary text-light">
            <h2 class="mb-0">Видалення страви</h2>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h5 class="text-muted">Ви впевнені, що хочете видалити страву @Model.Name ?</h5>
            </div>
            <form asp-action="DishDelete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Так" class="btn btn-danger" />
                <hr />

            </form>

        </div>
        <div class="card-footer">
            <div>
                <a asp-action="DishTotal">Повернутися</a>
            </div>

        </div>
    </div>

</div>

