
<div class="hero-section" >
   <div class="overlay" @* style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);" *@></div>
    <div class="container text-center" style="position: relative; z-index: 2; padding-top: 80px;">
        <h1 class="display-4 text-white">Швидко. Смачно. Корисно.</h1>
        <p class="lead text-white">Ласощі від найкращих кондитерських міста. Виготовимо з любов'ю, доставимо з турботою. <i class="bi bi-balloon-heart"></i></p>
        <a class="btn btn-lg btn-primary mt-3" asp-controller="restaurants" asp-action="getrestaurants">Наші ресторани</a>
    </div>
</div>

